<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
</head>
<body>
    <h1>Bejelentkezés</h1>

    <form action="/bejelentkezes" method="POST">
        <label>Felhasználónév:</label><br>
        <input type="text" name="felhasznalo" required><br><br>

        <label>Jelszó:</label><br>
        <input type="password" name="jelszo" required><br><br>

        <button type="submit">Belépés</button>
    </form>

    <a href="/regisztracio">Regisztráció</a>
</body>
</html>
