<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizza Node</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />

    <!-- CSS -->
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>

    <script>
        WebFont.load({
            google: { families:[
                "Oswald:200,300,400,500,600,700",
                "Lato:100,300,400,700,900",
                "Varela:400",
                "Vollkorn:400,700",
                "Bitter:400,700",
                "PT Serif:400,700",
                "Merriweather:300,400,700,900",
                "Roboto:100,300,400,500,700,900"
            ]}
        });
    </script>

    <link href="/assets/images/favicon.png" rel="shortcut icon">
    <link href="/assets/images/ph-icon.png" rel="apple-touch-icon">
</head>

<body class="font-sans antialiased">

    <!-- HEADER -->
    <%- include('partials/header') %>

    <div class="min-h-screen bg-gray-100 bottom-margin-large">

        <% if (typeof header !== 'undefined') { %>
            <div class="section-hero title">
                <div class="container w-container">
                    <h1 class="bottom-margin-extra-small"><%= header %></h1>
                </div>
            </div>
        <% } %>

        <main>
            <%- body %>
        </main>

    </div>

    <!-- FOOTER -->
    <footer class="footer bottom-margin-large">
        <div class="footer-nav-section">
            <div class="w-container" style="padding: 20px">
                <div class="w-row">
                    <div class="col w-col w-col-6">
                        <p>&copy; <%= new Date().getFullYear() %> Pizza Mester. Minden jog fenntartva.</p>
                    </div>

                    <div class="align-right col social w-col w-col-6">
                        <a class="social-icon w-inline-block" href="http://www.facebook.com" target="_blank">
                            <img src="/assets/images/footer-facebook.svg" alt="Pizza Mester">
                        </a>
                        <a class="social-icon w-inline-block" href="http://www.twitter.com">
                            <img src="/assets/images/footer-twitter.svg" alt="Pizza Mester">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
