<!-- Slider section begins -->
<section class="section-hero">
    <div class="container w-slider-container">
        <div class="slider w-slider" data-animation="slide" data-autoplay="1" data-delay="3500" data-duration="1000" data-infinite="1" data-nav-spacing="4">
            <div class="slider-mask w-slider-mask">
                <div class="slide1 w-slide">
                    <h1 class="bottom-margin-medium hero-slide-title"><span class="hero-line">Kézműves pizzák a legjobb alapanyagokból, egyenesen a kemencéből.
                Fedezd fel ízeinket és rendelj még ma!</span></h1><a class="slider-btn w-button" href="/pizzak"> PIZZA MENÜ &gt;&gt;</a>&nbsp;&nbsp;
                    <div class="bottom-margin-large"></div>
                </div>
                <div class="slide2 w-slide">
                    <h1 class="bottom-margin-medium hero-slide-title"><span class="hero-line">  A Pizza Mesternél hiszünk a minőségben. Minden pizzánkat frissen, válogatott, helyi alapanyagokból készítjük.
                    </span></h1><a class="slider-btn w-button" href="/pizzak">PIZZA MENÜ &gt;&gt;</a>&nbsp;&nbsp;
                    <div class="bottom-margin-large"></div>
                </div>
                <div class="slide3 w-slide">
                    <h1 class="bottom-margin-medium hero-slide-title"><span class="hero-line">Célunk, hogy a város legjobb pizzáját szállítsuk ki neked — gyorsan és forrón.</span></h1><a class="slider-btn w-button" href="/pizzak">PIZZA MENÜ &gt;&gt;</a>&nbsp;&nbsp;
                    <div class="bottom-margin-large"></div>
                </div>
            </div>
            <div class="left slider-arrow w-slider-arrow-left">
                <div class="arrow-icon w-icon-slider-left"></div>
            </div>
            <div class="slider-arrow w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="slider-nav w-slider-nav"></div>
        </div>
    </div>
</section>
<!-- Slider section ends -->

<!-- Pizza section begins -->
<div class="section-half-block">
    <div class="half-block-main home-1 right"></div>
    <div class="w-container">
        <div class="block-main-row w-row">
            <div class="col w-col w-col-6">
                <article class="block-main-holder left">
                    <h2 class="bottom-margin-medium">Rendeld házhoz a friss, forró pizzát!</h2>
                    <p class="bottom-margin-medium" style="text-align:justify">Mondani sem kell, a pizza a világ egyik kedvenc étele. Neked pedig forrón, frissen elkészítve, akár házhoz szállítva kínáljuk. Próbálj ki a nálunk elérhető széles választékú feltétekből, és alkoss olyan pizzát, ami éppen a te ízlésedhez illik.

                        Hívj előre, és amikor megérkezel, már kész lesz a pizza az átvételre. Vagy hívd a (123) 456-7890-es számot, és mi kézbesítjük otthonodba vagy a munkahelyedre!</p><a class="bottom-margin-small small-text" href="/pizzak">PIZZA MENÜ&nbsp;→</a></article>
            </div>
            <div class="col w-col w-col-6"></div>
        </div>
    </div>
</div>
<!-- Pizza section ends -->

<!-- Italian food section begins -->
<div class="section-half-block">
    <div class="half-block-main home-2"></div>
    <div class="w-container">
        <div class="block-main-row w-row">
            <div class="col w-col w-col-6"></div>
            <div class="col w-col w-col-6">
                <article class="block-main-holder">
                    <h2 class="bottom-margin-medium">Élvezd az autentikus olasz ízeket, közvetlenül a kertedben!</h2>
                    <p class="bottom-margin-medium" style="text-align:justify">Az autentikus olasz pizzánkon túl széles választékban kínálunk valódi olasz finomságokat, amelyek garantáltan elvarázsolják az ízlelőbimbóidat. Séfünk különösen ajánlja a borjú Parmigiana-t, a sütött Ziti tésztát, vagy a tengeri ételekből készült fogásainkat, például a Mussel Marinara-t és a Linguine Clams-t.

                        Pizzériánk ideális hely, ha csendes, mégis ízletes vacsorára vágysz a családoddal vagy a barátaiddal.
                        Látogass el hozzánk ma, és hagyd, hogy a mi családunk a tiédnek főzzön!</p><a class="bottom-margin-small small-text" href="/pizzak">PIZZA MENÜ&nbsp;→</a></article>
            </div>
        </div>
    </div>
</div>
<!-- Italian food section ends -->

<!-- Catering section begins -->
<div class="section-half-block">
    <div class="half-block-main home-3 right"></div>
    <div class="w-container">
        <div class="block-main-row w-row">
            <div class="col w-col w-col-6">
                <article class="block-main-holder left">
                    <h2 class="bottom-margin-medium">Születésnap, diplomaosztó vagy céges rendezvény? </h2>
                    <p class="bottom-margin-medium" style="text-align:justify">Legyünk a te választott catering szolgáltatód!
                        Tudjuk, hogy a különleges események, mint a születésnapok, diplomaosztók, előléptetések stb., egyszeri alkalmak az életedben. Értjük, hogy szeretnéd, ha ezek az események örök emlékként maradnának meg. Ezt szem előtt tartva a mi catering szolgáltatásunk garantáltan különlegessé és emlékezetessé teszi az eseményedet.</p><a class="bottom-margin-small small-text" href="/kapcsolat">AJÁNLAT KÉRÉS&nbsp;→</a>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- Catering section ends -->

